<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8/normalize.min.css" />
    <link rel="stylesheet" href="_base.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="components.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="vfan-bg-layout"></div>
    <div class="vfan-layout">
      <aside class="vfan-sidebar"></aside>
      <aside class="vfan-sidebar vfan-sidebar--fixed">
        <div class="vfan-sidebar__inner">
          <ul class="menu">
            <li class="menu-item menu-item--selected">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
            <li class="menu-item">Lorem</li>
          </ul>
          <div class="sidebar-collapse-button">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </aside>
      <div class="vfan-container">
        <header class="vfan-header"></header>
        <header class="vfan-header vfan-header--fixed">
          <div class="vfan-header__inner">
            <a class="ch-logo" href="#">
              <img src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg" alt="logo" />
              <h1>Admin Template</h1>
            </a>
            <div style="flex: 1 1 0%"></div>
            <div class="ch-actions">
              <div class="ch-actions-item">
                <i>
                  <svg viewBox="64 64 896 896" focusable="false" data-icon="question-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
                    <path d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7a48.3 48.3 0 0130.9-44.8c59-22.7 97.1-74.7 97.1-132.5.1-39.3-17.1-76-48.3-103.3zM472 732a40 40 0 1080 0 40 40 0 10-80 0z"></path>
                  </svg>
                </i>
              </div>
              <div class="ch-actions-item">
                <i>
                  <svg viewBox="0 0 24 24" focusable="false" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z " class="css-c4d79v"></path>
                  </svg>
                </i>
              </div>
              <div class="ch-actions-avatar">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png" alt="avatar" />
                <span>Lorem</span>
              </div>
            </div>
          </div>
        </header>
        <main class="vfan-main">
          <div class="breadcrumb">
            <a href="#">Lorem</a>
            <span>/</span>
            <span>Lorem</span>
          </div>
          <div class="page-header">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium aliquid delectus beatae. Ipsa molestias totam nam eveniet quibusdam? Temporibus quidem enim alias praesentium explicabo rem sint vel eligendi eos aliquid?</p>
          </div>
          <div class="page-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque maxime adipisci omnis itaque. Dicta minus optio quo asperiores expedita. Nobis facere numquam recusandae soluta sapiente expedita quas quidem unde ea nam! Commodi necessitatibus corrupti nam ullam temporibus aperiam eligendi a consectetur dolore et voluptatum, excepturi eveniet voluptatem maxime vitae sint, quod officia soluta cum illo recusandae. Veritatis blanditiis itaque incidunt labore hic quod reiciendis officia omnis, expedita voluptatum velit at quae laborum iusto iste soluta ipsum cumque, animi inventore fuga. Quos, similique velit ut quod expedita eos voluptas dolores officiis nisi nulla aspernatur, laboriosam facere. Porro aliquam fugit cum natus?</p>
          </div>
        </main>
        <footer class="vfan-footer">© Powered by Ant Desgin</footer>
      </div>
    </div>
  </body>
</html>
